<%= render 'shared/page_title', title: "All Morphologies" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Microbes", microbes_path %>
  </li>
  <li>
    <%= link_to "Users", users_path %>
  </li>
  <li class='active'>
    <%= link_to "Morphologies", morphologies_path %>
  </li>
</ul>

<%= will_paginate %>
<br>

<% @morphologies.each do |m| %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <p>Morph Pic Here</p>
      </div>
      <div class="col-md-10 well">
        <h4><%= link_to m.morphology, morphology_path(m) %></h4>

      </div>

    </div>
    <hr/>
  </div>
<% end %>

<%= will_paginate %>