<%= render 'shared/page_title', title: "Get User ID" %>

<p>User = <%= @user.username %></p>
<p>Uniqueid = <%= @user.uniqueid %></p>
<p>Microbes = <%= @user.microbes %></p>
<p>ID = <%= @user.id %></p>

<%= render 'shared/return_buttons' %>