<%= render 'shared/page_title', title: @microbe.fullname %>

<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 text-center nopad">
      <% if logged_in? and can_afford(@microbe) and !has_microbe(@microbe) %>
        <div class="col-xs-12" >
        <%= link_to "Buy this microbe for: " + @microbe.cost.to_s, buy_microbe_path, class: "btn btn-warning" %>
        </div>
      <% end %>
        <% if logged_in? and current_user.admin? %>
          <div class="col-xs-12">
          <%= link_to "Edit Microbe", edit_microbe_path, class: "btn btn-warning" %>
          </div>
        <% end %>

        <% if logged_in? and current_user.admin? %>
          <div class="col-xs-12">
          <%= link_to "Delete Microbe", microbes_path, class: "btn btn-warning" %>
          </div>
        <% end %>
    </div>
    
  </div>
  
  <div class="col-xs-12 col-md-4 pull-right center">
    <%= image_tag(@microbe.picture.url, size: "200x260", class: "gravatar") if @microbe.picture? %>
  </div>
  <div class="col-md-8">
    <div class="col-md-8 col-xs-12">
      <p><h3><%= @microbe.name %></h3></p>

      <div class="well">


        <p>
          <strong>
            About <%= @microbe.name %>:
          </strong>
        </p>
        <p>Full name: <%= @microbe.fullname %></p>
        <p>Morphology: <%= @microbe.morphology_id %></p>
      </div>
    </div>
  </div>
  
</div>

<%= render 'shared/return_buttons' %>